.container{
  padding: 30px 0px;
}
.rowForm{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.btnNext{
  margin-top: 20px;
}
.form{
  margin: 15px 0;
}
.LabelNumberQuestion{
  font-size: 20px;
}
.questions{
  margin-top: 15px;
  margin-bottom: 15px;
}
.answerInput{
  margin: 10px 0;
}
